<div ng-controller="homeController" layout="column" layout-fill ng-cloak style="overflow-y:hidden;">

<!-- Loading-->
	<div ng-if="animation" class="fade" flex layout="column" layout-fill layout-align="center center" style="background-color:#FFFFFF">
		<img src="./assets/gif/Preloader_2.gif">
	</div>

<!-- Main content-->
	<div ng-if="pageLoaded" flex layout="column" layout-fill class="fade">

		<div flex layout="row">
			<!-- UI View -->
			<div flex="100" ui-view>
	        </div>
		</div>
		
	</div>
</div>
