<div ng-controller="mainContentController" layout-fill style="position:relative;">

    <!-- Nav bar -->
    <div layout="row" style="position:fixed;top:0px;height:8%;width:100%;z-index:2;" ng-class="snapIndex!=0?['md-whiteframe-8dp','blackNavBar']:['transparentNavBar']">
        <div flex="10" layout="row" layout-align="center center" layout-margin layout-padding>
            <!-- Logo -->
            <img src="./assets/image/infistartlogo.png">
        </div>
        <div flex>
            <!-- Gap -->
        </div>
        <div layout="row" flex="50" layou-margin layout-padding style="font-family: 'Ubuntu',sans-serif;">
            <!-- Section buttons -->
            <div layout="column" flex ng-class="snapIndex==0?'activeButton':'inactiveButton'" style="font-size:21px;margin:auto;margin-right:1.5%;" ng-click="snapIndex=0" layout-align="center center">
                Home
            </div>
            <div layout="column" flex ng-class="snapIndex==1?'activeButton':'inactiveButton'" style="font-size:21px;margin:auto;margin-right:1.5%;" ng-click="snapIndex=1" layout-align="center center">
                Showcase
            </div>
            <div layout="column" flex ng-class="snapIndex==2?'activeButton':'inactiveButton'" style="font-size:21px;margin:auto;margin-right:1.5%;" ng-click="snapIndex=2" layout-align="center center">
                Workflow
            </div>
            <div layout="column" flex ng-class="snapIndex==3?'activeButton':'inactiveButton'" style="font-size:21px;margin:auto;margin-right:1.5%;" ng-click="snapIndex=3" layout-align="center center">
                Why us?
            </div>
            <div layout="column" flex ng-class="snapIndex==4?'activeButton':'inactiveButton'" style="font-size:21px;margin:auto;margin-right:1.5%;" ng-click="snapIndex=4" layout-align="center center">
                Our team
            </div>
            <div layout="column" flex ng-class="snapIndex==5?'activeButton':'inactiveButton'" style="font-size:21px;margin:auto;margin-right:3%;" ng-click="snapIndex=5" layout-align="center center">
                About Us
            </div>
        </div>
    </div>

    <!-- Scroll dots -->
    <div layout="column" style="position:fixed; right:1%; top:50%; transform:translateY(-50%);z-index:2;" layout-align="center center" layout-margin layout-padding>
        <div flex ng-class="snapIndex==0?'activeDot':'inactiveDot'" ng-click="snapIndex=0" layout-margin>
        </div>
        <div flex ng-class="snapIndex==1?'activeDot':'inactiveDot'" ng-click="snapIndex=1" layout-margin>
        </div>
        <div flex ng-class="snapIndex==2?'activeDot':'inactiveDot'" ng-click="snapIndex=2" layout-margin>
        </div>
        <div flex ng-class="snapIndex==3?'activeDot':'inactiveDot'" ng-click="snapIndex=3" layout-margin>
        </div>
        <div flex ng-class="snapIndex==4?'activeDot':'inactiveDot'" ng-click="snapIndex=4" layout-margin>
        </div>
        <div flex ng-class="snapIndex==5?'activeDot':'inactiveDot'" ng-click="snapIndex=5" layout-margin>
        </div>
    </div>

    <!-- Product detail panel -->
    <div layout="row" ng-class="showDetails?['productDetailsPanelVisible']:['productDetailsPanelInvisible']">
        <!-- background-color blur -->
        <div class="blur" ng-click="showDetails=false">

        <!-- Main content -->
        </div>

        <div flex="10">
        </div>
        <div layout="column" flex class="productDetails">
            <!-- Product image -->
            <div flex="40">
                <img style="width:100%;height:100%;" src="./assets/image/product_2.png">
            </div>
            <!-- Product details and buttons -->
            <div layout="column" flex layout-margin layout-padding>
                <div layout="row" flex style="font-size:18px;font-family: 'Dosis', sans-serif;">
                    <!-- Product abstract icon & text -->
                    <div flex layout="column" layout-padding>
                        <div layout="column" flex="30" layout-align="center center">
                            <img src="./assets/icons/about.png" class="imageResize">
                        </div>
                        <div layout="column" flex layout-align="start center" layout-margin layout-padding>
                            {{selected.abstract}}
                        </div>
                    </div>
                    <!-- Product pros icon & text -->
                    <div flex layout="column" layout-padding>
                        <div layout="column" flex="30" layout-align="center center">
                            <img src="./assets/icons/points.png" class="imageResize">
                        </div>
                        <div layout="column" class="listStyle" flex layout-align="start center" layout-margin layout-padding>
                            <ul ng-repeat="item in selected.pros">
                                <li>{{item}}</li>
                            </ul>
                        </div>
                    </div>
                    <!-- Product price icon & text -->
                    <div flex layout="column" layout-padding>
                        <div layout="column" flex="30" layout-align="center center">
                            <img src="./assets/icons/price.png" class="imageResize">
                        </div>
                        <div layout="column" flex layout-align="start center" layout-margin layout-padding>
                            {{selected.price}}
                        </div>
                    </div>
                </div>
                <!-- Buy and Back buttons -->
                <div flex="10" layout="row" layout-align="end center" layout-padding layout-margin>
                    <md-button class="md-raised md-warn" style="font-size:19px;" ng-click="showDetails=false">Back</md-button>
                    <md-button class="md-raised md-primary" style="font-size:19px;">Buy</md-button>
                </div>
            </div>
        </div>
        <div flex="10"></div>
    </div>

    <!-- Snap scroll -->
    <div style="height:100%;" snapscroll="" enable-arrow-keys="" snap-index="snapIndex" snap-duration="700" prevent-double-snap-delay="400" snap-easing="linearEasing">

        <!-- Header content -->
        <div layout="column" style="height:100%;">
            <div layout="column" flex="100" style="background:url('./assets/image/cover2.jpg')">
                <div flex>
                </div>
                <div flex style="color:#ffffff;font-size:250%;font-weight:300;font-family: 'Ubuntu', sans-serif;" layout="column" layout-align="end center">
                    A Modern Approach To
                </div>
                <div layout="row" flex="10" layout-align="center end">
                    <div layout="row" style="position:relative;font-size:350%;font-weight:400;font-family: 'Ubuntu', sans-serif;">
                        <span>&nbsp;</span>
                        <div ng-class="wordStay?['wordStay']:['inlineWords','wordAnimation']">
                            <div style="opacity:0;">Classroom</div>
                            <span>Coachings</span>
                            <span>Schools</span>
                            <span>Classrooms</span>
                        </div>
                        <span>&nbsp;</span>
                    </div>
                </div>
                <div layout="row" flex="35" layout-align="center start">
                    <div flex="15">
                    </div>
                    <div layout="row" flex style="font-size:400%;font-weight:500;font-family: 'Ubuntu', sans-serif;color:#ffffff;" layout-align="center center">
                        Switch To
                        <div style="position:relative;">
                            <div style="color:#FFEB3B" ng-class="change==2?['animated','bounceIn']:'smartInvisible'">&nbsp;Smart&nbsp;</div>
                            <div style="color:#26C6DA;position:absolute;top: 0;left: 0;z-index: 1;" ng-class="change>=1?['animated','hinge','dullVisible']:'dullInvisible'">&nbsp;&nbsp;&nbsp;dull&nbsp;&nbsp;&nbsp;</div>
                        </div>
                        With Us
                    </div>
                    <div flex="15">
                    </div>
                </div>
                <div layout="row" flex="10" layout-align="center center">
                    <i style="color:#ffffff;font-size:45px;" class="material-icons animated infinite flash" ng-click="goDown()">keyboard_arrow_down</i>
                </div>
            </div>
        </div>


        <!-- Product showcase content -->
        <div layout="column" style="height:100%;background-color:#673AB7">
            <div flex="15" layout="row" layout-align="center end">
                <i class="material-icons" style="font-size:45px;color:#ffffff;z-index:1;" ng-click="goUp()">keyboard_arrow_up</i>
            </div>
            <div layout="row" flex>
                <div flex="10">

                </div>
                <!-- Product list -->
                <div flex layout="column" layout-padding>
                    <div flex layout="row" layout-padding>
                        <!-- Product 1 -->
                        <md-whiteframe flex class="hvr-float-shadow" style="background:#64FFDA;border-radius:15px 15px 15px 15px;" ng-click="renderDetails(0)">
                            <img src="./assets/image/product_icon_1.png" style="width:100%;height:100%;">
                        </md-whiteframe>
                        <!-- Product 2 -->
                        <div flex>

                        </div>
                        <!-- Product 3 -->
                        <div flex>

                        </div>
                        <!-- Product 4 -->
                        <div flex>

                        </div>
                        <!-- Product 5 -->
                        <div flex>

                        </div>
                        <!-- Product 6 -->
                        <div flex>

                        </div>
                        <!-- Product 7 -->
                        <div flex>

                        </div>
                        <!-- Product 8 -->
                        <div flex>

                        </div>
                    </div>
                    <div flex layout="row" layout-padding>

                    </div>
                    <div flex layout="row" layout-padding>

                    </div>
                    <div flex layout="row" layout-padding>

                    </div>
                </div>
                <div flex="10">

                </div>
            </div>
            <div flex="10" layout="row" layout-align="center center">
                <i class="material-icons" style="font-size:45px;color:#ffffff" ng-click="goDown()">keyboard_arrow_down</i>
            </div>
        </div>


        <!-- Workflow content -->
        <div layout="column" style="height:100%;background-color:#E91E63">
            <div flex="15" layout="row" layout-align="center end">
                <i class="material-icons" style="font-size:45px;color:#ffffff" ng-click="goUp()">keyboard_arrow_up</i>
            </div>
            <div flex layout="column">
                <div flex="10" layout="column" layout-align="end center" style="font-family: 'Ubuntu', sans-serif;font-size:2.3em;color:#ffffff;">
                    How we make it work ?
                </div>
                <div flex layout="row" layout-align="center center">
                    <div flex="5">
                        <!-- Gap -->
                    </div>
                    <div flex layout="column">
                        <!-- Think -->
                        <div layout="column" layout-align="center center">
                            <img src="./assets/icons/think.png">
                            <br />
                            <span style="font-family: 'Ubuntu', sans-serif;font-weight:700;font-size:1.4em;color:#ffffff;">
                                Interface & Design
                            </span>
                            <br />
                        </div>
                        <div flex layout="column" layout-margin layout-padding layout-align="start center" style="text-align:center;font-family: 'Ubuntu', sans-serif;font-size:1.2em;color:#ffffff;">
                            We put the finest brains to plan the best structure and outstanding features for our product to give you the best user experience.
                        </div>
                    </div>
                    <div flex>
                        <!-- Design -->
                        <div layout="column" layout-align="center center">
                            <img src="./assets/icons/design.png">
                            <br />
                            <span style="font-family: 'Ubuntu', sans-serif;font-weight:700;font-size:1.4em;color:#ffffff;">
                                Design & Data-Flow
                            </span>
                            <br />
                        </div>
                        <div flex layout="column" layout-margin layout-padding layout-align="start center" style="text-align:center;font-family: 'Ubuntu', sans-serif;font-size:1.2em;color:#ffffff;">
                            Develop a prototype of the product to give you an idea of its design and working which is inspired by Material Design model
                        </div>
                    </div>
                    <div flex>
                        <!-- Code -->
                        <div layout="column" layout-align="center center">
                            <img src="./assets/icons/code.png">
                            <br />
                            <span style="font-family: 'Ubuntu', sans-serif;font-weight:700;font-size:1.4em;color:#ffffff;">
                                Code & APIs
                            </span>
                            <br />
                        </div>
                        <div flex layout="column" layout-margin layout-padding layout-align="start center" style="text-align:center;font-family: 'Ubuntu', sans-serif;font-size:1.2em;color:#ffffff;">
                            The eye candy design of our product is backed by flawless Google APIs that include messaging, maps, wallet integration as well as facebook and Google+.
                        </div>
                    </div>
                    <div flex>
                        <!-- Relax -->
                        <div layout="column" layout-align="center center">
                            <img src="./assets/icons/relax.png">
                            <br />
                            <span style="font-family: 'Ubuntu', sans-serif;font-weight:700;font-size:1.4em;color:#ffffff;">
                                Launch & Forget
                            </span>
                            <br />
                        </div>
                        <div flex layout="column" layout-margin layout-padding layout-align="start center" style="text-align:center;font-family: 'Ubuntu', sans-serif;font-size:1.2em;color:#ffffff;">
                            As soon as the beta version goes live; we sniff for bugs and keep track of users using the state of the art Google Analytics technology, keeping you one step ahead.
                        </div>
                    </div>
                    <div flex="5">
                        <!-- Gap -->
                    </div>
                </div>
            </div>
            <div flex="10" layout="row" layout-align="center center">
                <i class="material-icons" style="font-size:45px;color:#ffffff" ng-click="goDown()">keyboard_arrow_down</i>
            </div>
        </div>

        <!-- Why us? content -->
        <div layout="column" style="height:100%;background-color:#009688">
            <div flex="15" layout="row" layout-align="center end">
                <i class="material-icons" style="font-size:45px;color:#ffffff" ng-click="goUp()">keyboard_arrow_up</i>
            </div>
            <div flex layout="column">
                <!-- Content here -->
                <div flex="15" layout="column" layout-align="center center" style="font-family: 'Ubuntu', sans-serif;font-size:2.3em;color:#ffffff;">
                    Why Us ?
                    <br />
                </div>
                <div flex layout="row">
                    <div flex="5">
                        <!-- Gap -->
                    </div>

                    <!-- Text left -->
                    <div flex="25" layout="column">
                        <div flex layout="row">
                            <div flex="70" layout="column" layout-align="center">
                                <div style="font-family: 'Ubuntu', sans-serif;font-size:24px;color:#ffffff;text-align:right;">
                                    Experience
                                </div>
                                <br />
                                <div style="font-family: 'Ubuntu', sans-serif;font-size:16px;color:#ffffff;text-align:right;">
                                    Our crew consists of bright innovative Software Developers from IITs and NITs who have spent enormous time working on products like these.
                                </div>
                            </div>
                            <div flex layout="column" layout-align="center center">
                                <img class="imageResize"  src="./assets/icons/experience.png" />
                            </div>
                        </div>
                        <div flex layout="row">
                            <div flex="70" layout="column" layout-align="center">
                                <div style="font-family: 'Ubuntu', sans-serif;font-size:24px;color:#ffffff;text-align:right;">
                                    Server Integration
                                </div>
                                <br />
                                <div style="font-family: 'Ubuntu', sans-serif;font-size:16px;color:#ffffff;text-align:right;">
                                    We connect our product with our own servers for centralised control and data security.
                                </div>
                            </div>
                            <div flex layout="column" layout-align="center center">
                                <img class="imageResize"  src="./assets/icons/server_integration.png" />
                            </div>
                        </div>
                        <div flex layout="row">
                            <div flex="70" layout="column" layout-align="center">
                                <div style="font-family: 'Ubuntu', sans-serif;font-size:24px;color:#ffffff;text-align:right;">
                                    User Analytics
                                </div>
                                <br />
                                <div style="font-family: 'Ubuntu', sans-serif;font-size:16px;color:#ffffff;text-align:right;">
                                    We provide analytics using Google Analytics that helps you understand your users.
                                </div>
                            </div>
                            <div flex layout="column" layout-align="center center">
                                <img class="imageResize"  src="./assets/icons/analysis.png" />
                            </div>
                        </div>
                    </div>

                    <div flex layout="column" layout-align="center">
                        <img class="imageResize" src="./assets/image/monitor.png"/>
                    </div>

                    <!-- Text right -->
                    <div flex="25" layout="column">
                        <div flex layout="row">
                            <div flex layout="column" layout-align="center center">
                                <img class="imageResize"  src="./assets/icons/looks.png" />
                            </div>
                            <div flex="70" layout="column" layout-align="center">
                                <div style="font-family: 'Ubuntu', sans-serif;font-size:24px;color:#ffffff;text-align:left;">
                                    Design
                                </div>
                                <br />
                                <div style="font-family: 'Ubuntu', sans-serif;font-size:16px;color:#ffffff;text-align:left;">
                                    All our products strictly follow Material Design Guidelines to give our users an unmatched user experience.
                                </div>
                            </div>
                        </div>
                        <div flex layout="row">
                            <div flex layout="column" layout-align="center center">
                                <img class="imageResize"  src="./assets/icons/api.png" />
                            </div>
                            <div flex="70" layout="column" layout-align="center">
                                <div style="font-family: 'Ubuntu', sans-serif;font-size:24px;color:#ffffff;text-align:left;">
                                    Google APIs
                                </div>
                                <br />
                                <div style="font-family: 'Ubuntu', sans-serif;font-size:16px;color:#ffffff;text-align:left;">
                                    Cloud Messaging, Maps, Geo and Location, Wallet, Google+ , Admobs and Analytics.
                                </div>
                            </div>
                        </div>
                        <div flex layout="row">
                            <div flex layout="column" layout-align="center center">
                                <img class="imageResize"  src="./assets/icons/support.png" />
                            </div>
                            <div flex="70" layout="column" layout-align="center">
                                <div style="font-family: 'Ubuntu', sans-serif;font-size:24px;color:#ffffff;text-align:left;">
                                    Full Support
                                </div>
                                <br />
                                <div style="font-family: 'Ubuntu', sans-serif;font-size:16px;color:#ffffff;text-align:left;">
                                    We provide full service support for bug fixes and addition features to give you a complete user satisfaction.
                                </div>
                            </div>
                        </div>
                    </div>
                    <div flex="5">
                        <!-- Gap -->
                    </div>
                </div>
            </div>
            <div flex="10" layout="row" layout-align="center center">
                <i class="material-icons" style="font-size:45px;color:#ffffff" ng-click="goDown()">keyboard_arrow_down</i>
            </div>
        </div>

        <!-- Our team content -->
        <div layout="column" style="height:100%;background:url('./assets/image/workSpace.jpg')">
            <div flex="15" layout="row" layout-align="center end">
                <i class="material-icons" style="font-size:45px;color:#ffffff" ng-click="goUp()">keyboard_arrow_up</i>
            </div>
            <div flex="10" layout="column" layout-align="center center" style="font-family: 'Ubuntu', sans-serif;font-size:2.3em;color:#ffffff;">
                The Elite Squad
            </div>
            <div flex layout="row">
                <div flex="5">
                    <!-- Gap -->
                </div>
                <div flex layout="column">
                    <!-- Team content -->
                    <div flex layout="column">
                        <div flex layout="row">
                            <div flex="20" layout="column" class="displayPicture" layout-align="center center">
                                <!-- Detailed pic -->
                                <img ng-class="textBlink==0?['displayPictureResize']:['displayPictureResize','textBlink']" src="{{closeUp}}">
                            </div>
                            <div flex layout="column" layout-padding>
                                <div flex="15" ng-class="textBlink==0?['detailTitle']:['detailTitle','textBlink']" >
                                    <b>{{title}}</b>
                                </div>
                                <div flex="10" layout="row" layout-align="start center">
                                    <div flex ng-class="textBlink==0?['detailRole']:['detailRole','textBlink']">
                                        <b>{{role}}</b>
                                    </div>
                                </div>
                                <div flex="10" layout="row" layout-align="start center">
                                    <div flex ng-class="textBlink==0?['detailRole']:['detailRole','textBlink']">
                                        <b>{{college}}</b>
                                    </div>
                                </div>
                                <div flex="10" layout="row" layout-align="start center">
                                    <div flex ng-class="textBlink==0?['detailRole']:['detailRole','textBlink']">
                                        <b>{{memberEmail}}</b>
                                    </div>
                                </div>
                                <div flex ng-class="textBlink==0?['detailcontent']:['detailcontent','textBlink']">
                                    {{details}}
                                </div>

                            </div>
                        </div>
                        <!-- sperator -->
                        <div flex="10" layout="column" layout-padding layout-align="center">
                            <div flex class="line-separator"></div>
                            <div flex>

                            </div>
                        </div>
                        <!-- Team images -->
                        <div flex="20" ng-mousemove="mouseOnSlide()">
                            <div style="float:left;" ng-repeat="item in member" ng-class="memberNumber==$index?['displayPictureActive','square']:['displayPictureInactive','square']" ng-click="showPersonDetails($index)">
                                <img class="displayPictureResize content" src="{{item.sidePic}}">
                            </div>
                        </div>
                    </div>
                </div>
                <div flex="5">
                    <!-- Gap -->
                </div>

            </div>
            <div flex="10" layout="row" layout-align="center center">
                <i class="material-icons" style="font-size:45px;color:#ffffff" ng-click="goDown()">keyboard_arrow_down</i>
            </div>
        </div>

        <!-- Footer content -->
        <div layout="column" style="height:100%;background-color:#3F51B5">
            <div flex="15" layout="row" layout-align="center end">
                <i class="material-icons animated infinite flash" style="font-size:45px;color:#ffffff" ng-click="goUp()">keyboard_arrow_up</i>
            </div>

            <!-- Testimonail content -->
            <div flex="30" layout="column">
                <div flex="20" layout="column" layout-align="center center" style="font-family: 'Ubuntu', sans-serif;font-size:2.2em;color:#ffffff;">
                    Happy Customers
                </div>
                <div flex layout="row">
                    <div flex="30">
                        <!-- Gap -->
                    </div>

                    <!-- Slide one -->
                    <div flex layout="row" ng-class="textSlide==0?['animated','bounceIn']:['animated','flipOutY','textSlideInvisible']" layout-align="center start" layout-padding layout-margin>
                        <div flex="10" layout="column" layout-align="center end">
                            <img class="imageResize" src="./assets/icons/quoteLeft.png">
                        </div>
                        <div flex layout="column">
                            <div flex style="font-family: 'Ubuntu', sans-serif;font-size:18px;color:#ffffff;">
                                The team is awesome. With young members they work like professionals.
                                From designing of the product UX to implementing UI and functionality, they do it perfectly.
                                They do have a great future ahead. Keep it up!
                            </div>
                            <div flex style="text-align:right;font-family: 'Ubuntu', sans-serif;font-size:14px;color:#ffffff;">
                                <br />
                                -Nadeem Ansari (Co-founder, Sensus Labs)
                            </div>
                        </div>
                        <div flex="10" layout="column" layout-align="center start">
                            <img class="imageResize" src="./assets/icons/quoteRight.png">
                        </div>
                    </div>

                    <!-- Slide two -->
                    <div flex layout="row" ng-class="textSlide==1?['animated','bounceIn']:['animated','flipOutY','textSlideInvisible']" layout-align="center start" layout-padding layout-margin>
                        <div flex="10" layout="column" layout-align="center end">
                            <img class="imageResize" src="./assets/icons/quoteLeft.png">
                        </div>
                        <div flex layout="column">
                            <div flex style="font-family: 'Ubuntu', sans-serif;font-size:18px;color:#ffffff;">
                                This is a test data, dont sweat if you dont understand this but life is playing tricks with you.
                                You need to break out of the matrix.
                            </div>
                            <div flex style="text-align:right;font-family: 'Ubuntu', sans-serif;font-size:14px;color:#ffffff;">
                                <br />
                                -Yash Chandra (Co-founder, Infistart)
                            </div>
                        </div>
                        <div flex="10" layout="column" layout-align="center start">
                            <img class="imageResize" src="./assets/icons/quoteRight.png">
                        </div>
                    </div>

                    <!-- Slide three -->
                    <div flex layout="row" ng-class="textSlide==2?['animated','bounceIn']:['animated','flipOutY','textSlideInvisible']" layout-align="center start" layout-padding layout-margin>
                        <div flex="10" layout="column" layout-align="center end">
                            <img class="imageResize" src="./assets/icons/quoteLeft.png">
                        </div>
                        <div flex layout="column">
                            <div flex style="font-family: 'Ubuntu', sans-serif;font-size:18px;color:#ffffff;">
                                The test UI is awesome, coz I made it... LOL
                            </div>
                            <div flex style="text-align:right;font-family: 'Ubuntu', sans-serif;font-size:14px;color:#ffffff;">
                                <br />
                                -Aakash Mallik (Generation 1 employee, Infistart)
                            </div>
                        </div>
                        <div flex="10" layout="column" layout-align="center start">
                            <img class="imageResize" src="./assets/icons/quoteRight.png">
                        </div>
                    </div>
                    <div flex="30">
                        <!-- Gap -->
                    </div>
                </div>
            </div>

            <!-- About us and contact us content -->
            <div flex layout="row">
                <div flex="5">
                    <!-- Gap -->
                </div>
                <div flex layout="column">
                    <div flex="10" style="text-align:center;font-family: 'Ubuntu', sans-serif;font-weight:600;font-size:22px;color:#ffffff;">
                        About Us
                    </div>
                    <div flex layout="column" layout-margin layout-align style="text-align:left;font-family: 'Ubuntu', sans-serif;font-size:18px;color:#ffffff;">
                        We are a team of young software developers who love to innovate.
                        We have worked on the newest of software platforms and have delivered only the best of products.
                        Let our skills help you through your journey.
                        If you have got a startup, we have got a special technical team for you.
                        Join us to have a great startup journey to success.
                    </div>
                    <!-- Phone number -->
                    <div flex="15" layout="row" layout-padding>
                        <img flex="10" class="imageResize" src="./assets/icons/phone.png" />
                        <div flex layout="column" layout-align="center start" style="text-align:left;font-family: 'Ubuntu', sans-serif;font-size:14px;color:#ffffff;">
                            &nbsp (+91) 876 500 3288 &nbsp , &nbsp (+91) 805 241 0526
                        </div>
                    </div>
                    <!-- Email Id -->
                    <div flex="15" layout="row" layout-padding>
                        <img flex="10" class="imageResize" src="./assets/icons/email.png" />
                        <div flex layout="column" layout-align="center start" style="text-align:left;font-family: 'Ubuntu', sans-serif;font-size:14px;color:#ffffff;">
                            &nbsp info@infistart.com &nbsp , &nbsp info@appbox.com
                        </div>
                    </div>
                    <!-- Address -->
                    <div flex="15" layout="row" layout-padding>
                        <img flex="10" class="imageResize" src="./assets/icons/address.png" />
                        <div flex layout="column" layout-align="center start" style="text-align:left;font-family: 'Ubuntu', sans-serif;font-size:14px;color:#ffffff;">
                            &nbsp IIT BHU, &nbsp Varanasi, &nbsp India 221002
                        </div>
                    </div>
                    <div flex="5">
                        <!-- Gap -->
                    </div>
                </div>
                <div flex="10">

                </div>
                <div flex="50" layout="column">
                    <div flex="10" style="text-align:center;font-family: 'Ubuntu', sans-serif;font-weight:600;font-size:20px;color:#ffffff;">
                        Contact Us
                    </div>
                    <div flex="20" layout="row">
                        <md-input-container layout-margin flex="50">
                            <label>First name</label>
                            <input ng-model="firstName">
                         </md-input-container>
                         <md-input-container layout-margin flex="50">
                            <label>Last name</label>
                            <input ng-model="lastName">
                          </md-input-container>
                    </div>
                    <div flex="20" layout="row">
                        <md-input-container layout-margin flex="100">
                           <label>Email ID</label>
                           <input ng-model="emailId">
                        </md-input-container>
                    </div>
                    <div flex layout="row">
                        <md-input-container layout-margin flex="100">
                            <label>Message</label>
                            <textarea ng-model="message" md-maxlength="300" rows="4" md-select-on-focus></textarea>
                        </md-input-container>
                    </div>
                </div>
                <div flex="5">
                    <!-- Gap -->
                </div>

            </div>
            <div flex="10" layout="row" style="background-color:#000000;">
                <div flex layout="column" style="font-size:16px;color:#ffffff;" layout-padding layout-align="center center">
                    Copyright © 2016. Infistart Solutions LLP.
                </div>
                <div flex="45">
                </div>
                <div flex="20" layout="row" layout-align="center center">
                    <div layout="column" flex layout-margin layout-padding layout-align="center center">
                        <a href=""><img class="imageResize" src="./assets/icons/facebook.png"></a>
                    </div>
                    <div layout="column" flex layout-margin layout-padding layout-align="center center">
                        <a href=""><img class="imageResize" src="./assets/icons/google.png"></a>
                    </div>
                    <div layout="column" flex layout-margin layout-padding layout-align="center center">
                        <a href=""><img class="imageResize" src="./assets/icons/twitter.png"></a>
                    </div>
                </div>
                <div flex="5">
                </div>
            </div>
        </div>
    </div>
</div>
