<div ng-controller="mainContentController" layout-fill style="position:relative;">

    <!-- Nav bar -->
    <div layout="row" style="position:fixed;top:0px;height:8%;width:100%;z-index: 2;" ng-class="snapIndex!=0?['md-whiteframe-8dp','blackNavBar']:['transparentNavBar']">
        <div flex="10" layout="row" layout-align="center center" layout-margin layout-padding>
            <!-- Logo -->
            <img src="./assets/image/infistartlogo.png">
        </div>
        <div flex="45">
            <!-- Gap -->
        </div>
        <div layout="row" flex layou-margin layout-padding style="font-family: 'Acme', sans-serif;font-size:17px;">
            <!-- Section buttons -->
            <div layout="column" flex ng-class="snapIndex==0?'activeButton':'inactiveButton'" style="font-size:21px;margin:auto;margin-right:1.5%;" ng-click="snapIndex=0" layout-align="center center">
                Home
            </div>
            <div layout="column" flex ng-class="snapIndex==1?'activeButton':'inactiveButton'" style="font-size:21px;margin:auto;margin-right:1.5%;" ng-click="snapIndex=1" layout-align="center center">
                Showcase
            </div>
            <div layout="column" flex ng-class="snapIndex==2?'activeButton':'inactiveButton'" style="font-size:21px;margin:auto;margin-right:1.5%;" ng-click="snapIndex=2" layout-align="center center">
                Workflow
            </div>
            <div layout="column" flex ng-class="snapIndex==3?'activeButton':'inactiveButton'" style="font-size:21px;margin:auto;margin-right:1.5%;" ng-click="snapIndex=3" layout-align="center center">
                Why us?
            </div>
            <div layout="column" flex ng-class="snapIndex==4?'activeButton':'inactiveButton'" style="font-size:21px;margin:auto;margin-right:1.5%;" ng-click="snapIndex=4" layout-align="center center">
                Our team
            </div>
            <div layout="column" flex ng-class="snapIndex==5?'activeButton':'inactiveButton'" style="font-size:21px;margin:auto;margin-right:3%;" ng-click="snapIndex=5" layout-align="center center">
                About
            </div>
        </div>
    </div>

    <!-- Scroll dots -->
    <div layout="column" style="position:fixed; right:1%; top:50%; transform:translateY(-50%);z-index:2;" layout-align="center center" layout-margin layout-padding>
        <div flex ng-class="snapIndex==0?'activeDot':'inactiveDot'" ng-click="snapIndex=0" layout-margin>
        </div>
        <div flex ng-class="snapIndex==1?'activeDot':'inactiveDot'" ng-click="snapIndex=1" layout-margin>
        </div>
        <div flex ng-class="snapIndex==2?'activeDot':'inactiveDot'" ng-click="snapIndex=2" layout-margin>
        </div>
        <div flex ng-class="snapIndex==3?'activeDot':'inactiveDot'" ng-click="snapIndex=3" layout-margin>
        </div>
        <div flex ng-class="snapIndex==4?'activeDot':'inactiveDot'" ng-click="snapIndex=4" layout-margin>
        </div>
        <div flex ng-class="snapIndex==5?'activeDot':'inactiveDot'" ng-click="snapIndex=5" layout-margin>
        </div>
    </div>

    <!-- Product detail panel -->
    <div layout="row" ng-class="showDetails?['productDetailsPanelVisible']:['productDetailsPanelInvisible']">
        <!-- background-color blur -->
        <div class="blur" ng-click="showDetails=false">

        <!-- Main content -->
        </div>

        <div flex="10">
        </div>
        <div layout="column" flex class="productDetails">
            <!-- Product image -->
            <div flex="40">
                <img style="width:100%;height:100%;" src="./assets/image/product_2.png">
            </div>
            <!-- Product details and buttons -->
            <div layout="column" flex layout-margin layout-padding>
                <div layout="row" flex style="font-size:18px;font-family: 'Dosis', sans-serif;">
                    <!-- Product abstract icon & text -->
                    <div flex layout="column" layout-padding>
                        <div layout="column" flex="30" layout-align="center center">
                            <img src="./assets/icons/about.png" style="max-height:100%;height:auto;">
                        </div>
                        <div layout="column" flex layout-align="start center" layout-margin layout-padding>
                            {{selected.abstract}}
                        </div>
                    </div>
                    <!-- Product pros icon & text -->
                    <div flex layout="column" layout-padding>
                        <div layout="column" flex="30" layout-align="center center">
                            <img src="./assets/icons/points.png" style="max-height:100%;height:auto;">
                        </div>
                        <div layout="column" class="listStyle" flex layout-align="start center" layout-margin layout-padding>
                            <ul ng-repeat="item in selected.pros">
                                <li>{{item}}</li>
                            </ul>
                        </div>
                    </div>
                    <!-- Product price icon & text -->
                    <div flex layout="column" layout-padding>
                        <div layout="column" flex="30" layout-align="center center">
                            <img src="./assets/icons/price.png" style="max-height:100%;height:auto;">
                        </div>
                        <div layout="column" flex layout-align="start center" layout-margin layout-padding>
                            {{selected.price}}
                        </div>
                    </div>
                </div>
                <!-- Buy and Back buttons -->
                <div flex="10" layout="row" layout-align="end center" layout-padding layout-margin>
                    <md-button class="md-raised md-warn" style="font-size:19px;" ng-click="showDetails=false">Back</md-button>
                    <md-button class="md-raised md-primary" style="font-size:19px;">Buy</md-button>
                </div>
            </div>
        </div>
        <div flex="10"></div>
    </div>

    <!-- Snap scroll -->
    <div style="height:100%;" snapscroll="" enable-arrow-keys="" snap-index="snapIndex" snap-duration="700" prevent-double-snap-delay="400" snap-easing="linearEasing">

        <!-- Header content -->
        <div layout="column" style="height:100%;">
            <div layout="column" flex="100" style="background:url('./assets/image/cover2.jpg')">
                <div flex="10">
                </div>
                <div layout="row" flex layout-align="center center">
                    <div flex="20">
                    </div>
                    <div layout="row" flex style="font-size:60px;font-weight:500;font-family: 'Ubuntu', sans-serif;color:#ffffff;" layout-align="center center">
                        Switch To
                        <div style="position:relative;">
                            <div style="color:#FFEB3B" ng-class="change==2?['animated','bounceIn']:'smartInvisible'">&nbsp;Smart&nbsp;</div>
                            <div style="color:#26C6DA;position:absolute;top: 0;left: 0;" ng-class="change>=1?['animated','hinge','dullInvisible']:'dullVisible'">&nbsp;&nbsp;&nbsp;dull&nbsp;&nbsp;&nbsp;</div>
                        </div> With Us
                    </div>
                    <div flex="20">
                    </div>
                </div>
                <div layout="row" flex="10" layout-align="center center">
                    <i style="color:#ffffff;font-size:45px;" class="material-icons animated infinite flash" ng-click="goDown()">keyboard_arrow_down</i>
                </div>
            </div>
        </div>


        <!-- Product showcase content -->
        <div layout="column" style="height:100%;background-color:#673AB7">
            <div flex="15" layout="row" layout-align="center end">
                <i class="material-icons" style="font-size:45px;color:#ffffff;z-index:1;" ng-click="goUp()">keyboard_arrow_up</i>
            </div>
            <div layout="row" flex>
                <div flex="10">

                </div>
                <!-- Product list -->
                <div flex layout="column" layout-padding>
                    <div flex layout="row" layout-padding>
                        <!-- Product 1 -->
                        <md-whiteframe flex class="hvr-float-shadow" style="background:#64FFDA;border-radius:15px 15px 15px 15px;" ng-click="renderDetails(0)">
                            <img src="./assets/image/product_icon_1.png" style="width:100%;height:100%;">
                        </md-whiteframe>
                        <!-- Product 2 -->
                        <div flex>

                        </div>
                        <!-- Product 3 -->
                        <div flex>

                        </div>
                        <!-- Product 4 -->
                        <div flex>

                        </div>
                        <!-- Product 5 -->
                        <div flex>

                        </div>
                        <!-- Product 6 -->
                        <div flex>

                        </div>
                        <!-- Product 7 -->
                        <div flex>

                        </div>
                        <!-- Product 8 -->
                        <div flex>

                        </div>
                    </div>
                    <div flex layout="row" layout-padding>

                    </div>
                    <div flex layout="row" layout-padding>

                    </div>
                    <div flex layout="row" layout-padding>

                    </div>
                </div>
                <div flex="10">

                </div>
            </div>
            <div flex="10" layout="row" layout-align="center center">
                <i class="material-icons" style="font-size:45px;color:#ffffff" ng-click="goDown()">keyboard_arrow_down</i>
            </div>
        </div>


        <!-- Workflow content -->
        <div layout="column" style="height:100%;background-color:#E91E63">
            <div flex="15" layout="row" layout-align="center end">
                <i class="material-icons" style="font-size:45px;color:#ffffff" ng-click="goUp()">keyboard_arrow_up</i>
            </div>
            <div flex>
                <!-- Content here -->
            </div>
            <div flex="10" layout="row" layout-align="center center">
                <i class="material-icons" style="font-size:45px;color:#ffffff" ng-click="goDown()">keyboard_arrow_down</i>
            </div>
        </div>

        <!-- Why us? content -->
        <div layout="column" style="height:100%;background-color:#009688">
            <div flex="15" layout="row" layout-align="center end">
                <i class="material-icons" style="font-size:45px;color:#ffffff" ng-click="goUp()">keyboard_arrow_up</i>
            </div>
            <div flex>
                <!-- Content here -->
            </div>
            <div flex="10" layout="row" layout-align="center center">
                <i class="material-icons" style="font-size:45px;color:#ffffff" ng-click="goDown()">keyboard_arrow_down</i>
            </div>
        </div>

        <!-- Our team content -->
        <div layout="column" style="height:100%;background-color:#F44336">
            <div flex="15" layout="row" layout-align="center end">
                <i class="material-icons" style="font-size:45px;color:#ffffff" ng-click="goUp()">keyboard_arrow_up</i>
            </div>
            <div flex>
                <!-- Content here -->
            </div>
            <div flex="10" layout="row" layout-align="center center">
                <i class="material-icons" style="font-size:45px;color:#ffffff" ng-click="goDown()">keyboard_arrow_down</i>
            </div>
        </div>

        <!-- Footer content -->
        <div layout="column" style="height:100%;background-color:#3F51B5">
            <div flex="15" layout="row" layout-align="center end">
                <i class="material-icons animated infinite flash" style="font-size:45px;color:#ffffff" ng-click="goUp()">keyboard_arrow_up</i>
            </div>
            <div flex layout="row">

            </div>
            <div flex="10" layout="row" style="background-color:#000000;">
                <div flex layout="column" style="font-size:16px;color:#ffffff;" layout-padding layout-align="center center">
                    Copyright © 2016. Infistart Solutions LLP.
                </div>
                <div flex="45">
                </div>
                <div flex="20" layout="row" layout-align="center center">
                    <div layout="column" flex layout-margin layout-padding layout-align="center center">

                    </div>
                    <div layout="column" flex layout-margin layout-padding layout-align="center center">

                    </div>
                    <div layout="column" flex layout-margin layout-padding layout-align="center center">

                    </div>
                </div>
                <div flex="10">
                </div>
            </div>
        </div>
    </div>
</div>
