/*Removing Scrollbar*/
::-webkit-scrollbar {
	display: none;
}

/*Scroll dots*/
.inactiveDot {
	height: 2px;
	width: 2px;
	border-radius: 50%;
	/*background: #ffffff;*/
	border-size:0.5px;
	border-style:solid;
	border-color:#ffffff;
}

.activeDot {
	height: 25px;
	width: 25px;
	border-radius: 50%;
	background: #ffffff;
}

/*Removing dotted border and cursor change on links and divs*/
div {
   outline: 0;
}

i {
   outline: 0;
   cursor: pointer;
}

/*Navigation bar*/
.transparentNavBar {
	transition: background-color 0.7s ease;
}

.blackNavBar {
	background-color: #000000;
	transition: background-color 0.7s ease;
}

/* Header Word Animations */
.dullVisible {
	z-index: 1;
}

.dullInvisible {
	z-index: -1;
	transition-delay: 2.5s;
}

.smartInvisible {
	opacity: 0;
	visibility: hidden;
}

/*Navigation Button border*/
.inactiveButton {
	border:0.5px solid #ffffff;
	cursor: pointer;
	color: #ffffff;
}

.activeButton {
	animation-name: bubble;
	animation-duration: 20s;
	animation-iteration-count: infinite;
	animation-fill-mode: none;
	animation-direction: alternate-reverse;
	animation-timing-function: ease-in;
	color: #000000;
	cursor: pointer;
	transition: color 0.5s ease;
}

@keyframes bubble {
	0%{
		background: #ffffff;
		border:0.5px solid #ffffff;
	}
	20% {
		background: #F4FF81;
		border:0.5px solid #F4FF81;
	}
	40% {
		background: #B388FF;
		border:0.5px solid #B388FF;
	}
	60% {
		background: #EA80FC;
		border:0.5px solid #EA80FC;
	}
	80% {
		background: #84FFFF;
		border:0.5px solid #84FFFF;
	}
	 100%{
		background: #ffffff;
		border:0.5px solid #ffffff;
	}
}

/* Product details Page*/
.productDetailsPanelVisible {
	height:100%;
	width:100%;
	position:absolute;
	top:0;
	left:0;
	z-index:3;
	opacity: 1;
	transition:opacity 0.3s ease-out;
}

.productDetailsPanelInvisible {
	height:100%;
	width:100%;
	position:absolute;
	top:0;
	left:0;
	opacity: 0;
	z-index: -1;
	transition: all 0.2s ease-in;
}

.productDetails {
	z-index: 4;
	background: #ffffff;
}

.blur{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background:rgba(0,0,0,0.8);
}

/* List */
.listStyle { }
.listStyle ul { list-style:none; border-top:1px solid #eee; border-bottom:1px solid #eee; padding:10px 0; }
.listStyle ul li { display:inline;padding:0 5px; margin: 0px;}
